body {
    display: grid;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-areas: 
        "nav"
        "aside"
        "main"
        "pagination"
        "footer";
    height: 100vh;
}

 /* Media Queries Body hahahaa =)!! =DDD!! */

 @media (min-width: 576px) {
    body {
        grid-template-areas:
        "nav aside "
        "nav main"
        "footer main";
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    }
}

.navbar navbar-expand-lg bg-primary text-light {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

/* MediaQueries Bar FontAwesome =DD!! hahahaa =)!!!! */

@media (min-width: 576px) {
    .fa-solid fa-bars fa-1x { display: none
    }
}

.max576li {
    display: none;
}

/* MediaQueries List Items Min-Width 576 hahahaa =)!! =DD!! */

@media (min-width: 576px) {
    .max576li {display: flex;
        flex-direction: column;

    }
}

aside {
        grid-area: aside;   
        text-align: center;
        background-color: lightgray;
}

select {
    width: 95%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "grid"
    "grid0"
    "grid1"
    "grid2"
    "grid3"
    "grid4"
    "grid5"
    "grid6";
    margin: auto;
    width: 100%;
    padding: 3rem;
    text-align: center;
}

/* Media Queries Main =DDDD!! hahaaa =)!!! */

@media (min-width: 576px) {
    main {
            grid-template-areas: 
            "grid grid0 grid1 grid2"
            "grid3 grid4 grid5 grid6";
            grid-area: main;
    }
}
.pagination {
    grid-area: pagination;
    margin: auto;
    padding-bottom: 1%;
}

/* MediaQueries Min-Width = 576px .pagination =D!! hahahahaa =)!!! */

@media (min-width: 576px) {
        .pagination { display: none;
    }
}

footer {
    grid-area: footer;
    background-color: blue;
}
