h3 {
    color: crimson;
}
    
@media (min-width: 576px) {    
        h3 {color: purple }
}

@media (min-width: 768px) {
        h3 {color: green }
}

@media (min-width: 992px) {
        h3 {color: chocolate }
}

button {
        background-color: green;
}

@media (min-width: 576px) {
        button {border-radius: 15px;}
}

@media (min-width: 768px) {
        button {color: blue }
}

@media (min-width: 992px) {
        button {display: none }
}

p {
        background: #749c2c;
        color: white;
        padding: 10px;
        margin: 10px;
}

.grid {
        display: grid;
        grid-template-columns: 1fr;
}

@media (min-width: 576px) {
        .grid { grid-template-columns: 1fr 1fr }
}

@media (min-width: 768px) {
        .grid { grid-template-columns: 1fr 1fr 1fr 1fr }
}

.grid0 {
        display: grid;
        grid-template-columns: 1fr;
}

@media (max-width: 576px) {
        .grid0 { grid-template-columns: 1fr 1fr }
}

@media (min-width: 576px) {
        .grid0 { grid-template-columns: 1fr 1fr 1fr 1fr}
}

@media (min-width: 768px) {
        .grid0 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr }
}

@media (min-width: 992px) {
        .grid0 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr}
}

.grid1 {
        display: grid;
        border: 1px solid black;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: 
                "menu"
                "seccion-principal"
                "pie-de-pagina";
}

nav {
        padding: 10px;
        grid-area: menu;
        background: #0037a1
}

main {
        grid-area: seccion-principal;
        padding: 10px;
}

footer {
        grid-area: pie-de-pagina;
        background: #d02a1e;
        color: white;
        padding: 10px;
}

@media (min-width: 992px) {
        .grid1 {
                grid-template-areas:
                "menu seccion-principal"
                "menu seccion-principal"
                "menu pie-de-pagina";
                grid-template-columns: 1fr 10fr;
        }
}