body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    max-width: 100%;
}
    
/* Grid Container =DDD!!! */

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    grid-template-areas: 
        "nav"
        "aside"
        "main"
        "footer";
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: auto;
}

/* Nav Flex-Container Styles =DD!! hahaaa =)!!! */

.flex-container {
    display: flex;
    align-items: center;
}

/* Nav Icon Styles =DDD!!! hahahaa =)!!! */

.navicon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav Text Logo Styles =DD!! hahahaa =)!!! */

.navtext {
    display: flex;
    align-items: center;
}

/* Navbar List Styleshahahaa =)!!! =D!! */

ul {
    display: none;
    width: 100%;
}

/* Aside Barr hahahaaa =DDD!! */

aside {
    padding: 1%;
    grid-area: aside;
    text-align: center;
    background-color: lightgrey;
}

/* Aside Select Stylesss hahaaa =)!!! =DD!! */

select {
    width: 95%;
}

/* Main Menuuuu =DDDD!! hahahahaa ! */

main {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: white;
    grid-area: main;
    text-align: center;
    grid-template-areas: 
        "grid"
        "grid0"
        "grid1"
        "grid2"
        "grid3"
        "grid4"
        "grid5"
        "grid6";
}

.grid {
    grid-area: grid;

}

.grid0 {
    grid-area: grid0;
}

.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

.grid5 {
    grid-area: grid5;
}

.grid6 {
    grid-area: grid6;
}

.card img {
    width: 40%;
    margin: auto;
}
/* Footer Barrr hahahaa =DD! =)!!! */

footer {
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: blue;
}

/* Media Queries Escritorio (576px) hahahaa =)!! =DDD!! */

@media (min-width: 576px) {
    .grid-container { grid-template-columns: 20% 1fr;
    grid-template-areas:
        "nav aside "
        "nav main"
        "footer main";
    height: 100vh;
    }

    #nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 1px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px 25px;
        margin: 20px;
        gap: 15px;
    }

    ul li{
        display: flex;
        flex-direction: column;
    }

    .navbar-toggler {
        display: none;
    }
    
    main { grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 10px;
            grid-area: main;
            text-align: center;
            grid-template-areas: 
                "grid grid0 grid1 grid2"
                "grid3 grid4 grid5 grid6"
            }
}